<div th:fragment="left-pane" class="col-lg-3 col-md-12 fonts size border-end border-warning">
  <div class="margin-top ms-5 mb-2 fonts">
    <a>
      <img src="/images/homey.svg" alt="Homey" style="width: 30px;" class="square">
    </a>
    <span class="fonts ms-3">
                     <a class="links fonts text-white" href="/">Homey</a></span>
  </div>
  <div class="ms-5 mb-2">
    <a>
      <img src="/images/topofthetop.svg" alt="Top" style="width: 30px;" class="square">
    </a>
    <span class="fonts ms-3">
                     <a class="links fonts text-white" href="/top-rate">Top of the top</a></span>
  </div>
  <div class="ms-5">
    <a>
      <img src="/images/niceAndFresh.svg" alt="Fresh" style="width: 30px;" class="square">
    </a>
    <span class="fonts ms-3">
                     <a class="links fonts text-white" href="/new">Nice and fresh</a></span>
  </div>
  <div class="mt-5 ms-5">
    <a>
      <img src="/images/profiley.svg" alt="Logo" style="width: 30px;" class="square">
    </a>
    <span class="fonts ms-3">
                     <a class="links fonts text-white" href="/profile">Profiley</a></span>
  </div>
  <div class="mt-5 bg-custom-dark-lighter text-center">
    <h4 class="text-white btn"> Choose your fighter</h4>
  </div>
  <div class="mb-1 bg-custom-dark-lighter text-center">
    <div class="mb-1 btn-group-sm fonts">
      <button type="button" class="btn grey me-2 text-white">food</button>
      <button type="button" class="btn grey me-2 text-white">pepega</button>
      <button type="button" class="btn grey text-white">work</button>
    </div>
    <div class="mb-1 bg-custom-dark-lighter">
      <div class=" mb-1 btn-group-sm">
        <button type="button" class="btn grey me-2 text-white">politics</button>
        <button type="button" class="btn grey me-2 text-white">anime</button>
        <button type="button" class="btn grey text-white">animals</button>
      </div>
      <div class="bg-custom-dark-lighter">
        <div class="btn-group-sm">
          <button type="button" class="btn grey me-2 text-white">gaming</button>
          <button type="button" class="btn grey text-white">adult</button>
        </div>
      </div>
    </div>
  </div>
</div>

