<div th:fragment="left-pane" class="col-lg-3 col-md-12 fonts size border-end border-warning">
  <style>
    .grey{
      border-color: #464745;
      background-color: #464745;
    }
  </style>
  <div class="margin-top ms-5 mb-2 fonts">
    <a>
      <img src="/images/homey.svg" alt="Homey" style="width: 30px;" class="square">
    </a>
    <span class="fonts ms-3">
                     <a class="links fonts text-white" href="/">Homey</a></span>
  </div>
  <div class="ms-5 mb-2">
    <a>
      <img src="/images/topofthetop.svg" alt="Top" style="width: 30px;" class="square">
    </a>
    <span class="fonts ms-3">
                     <a class="links fonts text-white" href="/top-rate">Top of the top</a></span>
  </div>
  <div class="ms-5">
    <a>
      <img src="/images/niceAndFresh.svg" alt="Fresh" style="width: 30px;" class="square">
    </a>
    <span class="fonts ms-3">
                     <a class="links fonts text-white" href="/new">Nice and fresh</a></span>
  </div>
  <div class="mt-5 ms-5">
    <a>
      <img src="/images/profiley.svg" alt="Logo" style="width: 30px;" class="square">
    </a>
    <span class="fonts ms-3">
                     <a class="links fonts text-white" href="/profile">Profiley</a></span>
  </div>
  <div class="mt-5 bg-custom-dark-lighter text-center">
    <h4 class="text-white btn"> Choose your fighter</h4>
  </div>
  <div class="mb-1 bg-custom-dark-lighter text-center">
    <div class="mb-1 btn-group-sm fonts">
      <a th:href="@{/category/food}" class="btn grey me-2 text-white">food</a>
      <a th:href="@{/category/pepega}" class="btn grey me-2 text-white">pepega</a>
      <a th:href="@{/category/work}" class="btn grey text-white">work</a>
    </div>
    <div class="mb-1 bg-custom-dark-lighter">
      <div class="mb-1 btn-group-sm">
        <a th:href="@{/category/politics}" class="btn grey me-2 text-white">politics</a>
        <a th:href="@{/category/anime}" class="btn grey me-2 text-white">anime</a>
        <a th:href="@{/category/animals}" class="btn grey text-white">animals</a>
      </div>
      <div class="bg-custom-dark-lighter">
        <div class="btn-group-sm">
          <a th:href="@{/category/gaming}" class="btn grey me-2 text-white">gaming</a>
          <a th:href="@{/category/adult}" class="btn grey text-white">adult</a>
        </div>
      </div>
    </div>
  </div>
</div>

